html {
  background: linear-gradient(
    180deg,
    rgba(255, 79, 0, 1) 0%,
    rgba(255, 156, 0, 1) 44%,
    rgba(255, 194, 0, 1) 100%
  );
  overflow: scroll;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}
html::-webkit-scrollbar {
  display: none;
}

#root {
  padding: 0;
  margin: 0;
}

#header {
  width: 100vw;
  z-index: 1;
  position: fixed;
}

#banner {
  font-family: 'Lobster';
  color: white;
  background-color: navy;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #00000080;
}

a:focus {
  background-color: navy;
}

#menu {
  position: relative;

  display: flex;
  justify-content: space-around;
}

.rm {
  width: 70%;
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
  justify-content: space-between;
}

a {
  width: 50%;
  text-decoration: none;
}

.menuButton {
  width: 100%;
  background-color: red;
  color: white;
  font-family: 'Baloo';
  border: none;
  border-radius: 0 0 15px 15px;
  box-shadow: 5px 5px 10px #00000080;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
li {
  padding: 0;
}

h5 {
  margin: 0px;
  padding: 0;
  font-family: 'Baloo';
  color: grey;
  font-size: 16px;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Oswald';
}

h3 {
  font-family: 'Baloo';
  color: navy;
  margin: 0;
  padding: 0;
  font-size: 28px;
}

input[type='submit'] {
  background-color: red;
  color: white;
  font-family: 'Baloo';
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  margin: 8px;
  border: none;
}

input[type='text'] {
  border: 2px solid lightgray;
  outline: none;
  font-size: 16px;
  border-radius: 15px;
  padding: 8px;
  text-align: center;
}

#icon {
  height: 35px;
  width: auto;
  margin-left: 8px;
}

.deleteButton {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: lightgray;
  color: white;
  border-radius: 50%;
  border: none;
  width: 1.5em;
  height: 1.5em;
  font-size: 8px;
  padding: 7px;
  line-height: 0.2;
  font-weight: bolder;
  text-align: center;
  align-self: flex-end;
}

#app {
  position: relative;
  width: 100vw;
  top: -10px;
  left: -8px;
}

#components {
  position: relative;
  width: 100%;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.isDoneButton {
  font-family: 'Baloo';
  font-size: 10px;
  height: 2em;
  float: right;
  justify-self: flex-end;
}

#rmListDiv {
  display: flex;
  height: 175px;
  width: 80vw;
  flex-direction: column;
  padding: 8px 16px 16px 16px;
  margin: 0 16px 16px 16px;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 10px #00000080;
}

#roommatesList {
  width: 80vw;
  height: 100%;
  display: flex;

  align-items: flex-start;
  overflow-x: scroll;
  padding: 0px;
}
#roommatesList::-webkit-scrollbar {
  display: none;
}

.rmChore {
  display: flex;
  justify-content: space-between;
}

.rmcList {
  overflow: scroll;
  height: 80%;
  width: 100%;
}

.rmcList::-webkit-scrollbar {
  display: none;
}

.roommate {
  border: 1px solid lightgray;
  border-radius: 10px;
  min-width: 68vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 0 16px;
  margin: 0 4px 0 4px;

  height: 97%;
}

#choresListDiv {
  margin-bottom: 16px;
}

#choreList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 185px;
  overflow: scroll;
}

#choreList::-webkit-scrollbar {
  display: none;
}

#rmList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 185px;
  overflow: scroll;
}

#rmList::-webkit-scrollbar {
  display: none;
}

.chore {
  width: 70%;
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.roommateChoresList {
  display: flex;
  overflow: scroll;
  width: 70%;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  height: 90%;
}

.roommateChoresList::-webkit-scrollbar {
  display: none;
}

.roommateChore {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.component {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  box-shadow: 5px 5px 10px #00000080;
}

form {
  background-color: white;
  border-radius: 20px;
  margin: 16px;
  padding: 16px;
}

#wheelDiv {
  justify-content: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 10px solid white;
  margin: 16px;
  box-shadow: 5px 5px 10px #00000080;
  overflow: hidden;
}

#needle {
  width: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 30px solid rgb(162, 0, 0);
  position: absolute;
  height: 0;
  border-radius: 50%;
  top: 212px;
  animation: clicker 0.15s 10 linear;
  transform-origin: 50% 90%;
}

#message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wheelImg {
  animation: rotation 0.75s 2 linear forwards;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes clicker {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#spinButton {
  position: absolute;
  font-size: 10px;
  width: 70px;
  height: 70px;
  border: 2px solid lightgrey;
  background-color: white;
  border-radius: 50%;
  font-family: 'Baloo';
  color: navy;
  outline: none;
  box-shadow: 5px 5px 10px #00000080;
  animation: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#spinButton:hover {
  position: absolute;
  box-shadow: 0px 0px 10px #ffffffb7, 5px 5px 10px #00000080;
  color: rgb(70, 70, 216);
}

#spinButton:active {
  transform: translateY(2px);
  color: red;
  box-shadow: 5px 5px 10px #00000080;
}

input::placeholder {
  text-align: center;
}

.list {
  background-color: white;
  padding: 16px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.isDoneButton {
  color: white;
  border: none;
  border-radius: 15px;
  padding: 0 4px 0 4px;
}

.isDoneButton[isdone='false'] {
  background-color: red;
}
.isDoneButton[isdone='true'] {
  background-color: rgb(42, 223, 54);
}

@media only screen and (min-width: 450px) {
  .component {
    width: 50%;
  }

  form {
    margin-top: 32px;
    width: 100%;
  }

  #rmListDiv {
    width: 50%;
  }

  #roommatesList {
    width: 100%;
  }

  .roommate {
    min-width: 150px;
  }

  #wheelDiv {
    height: 300px;
    width: 300px;
  }

  #wheelImg {
    height: 300px;
    width: 300px;
  }

  #needle {
    top: 300px;
  }
  a {
    width: 30vw;
    outline: none;
  }

  #menu {
    justify-content: space-around;
  }
}
